
<div class="col-md-12">
  <div class="card card-primary card-outline">
    <div class="card-header">
      <div class="container mb-5 pt-2">
        <div class="row">
          <div class="col-12">
            <div class="box box-primary">
              <div class="box-body table-responsive no-padding" style="height: 90vh;">
                <p><%= @oder.title %></p>
                <h4>薬歴</h4>
                <div class="box-body table-responsive no-padding" style="height: 90vh;">
                <table class="table table-hover table-head-fixed text-nowrap">
                  <thead>
                    <tr>
                      <th scope="col">症状</th>
                      <th scope="col">臓腑</th>
                      <th scope="col">陰陽</th>
                      <th scope="col">臓腑病</th>
                      <th scope="col">厚さ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @oder.products.each do |item| %>
                      <tr>
                        <td><%= item.name %></td>
                        <td><%= item.location %></td>
                        <td><%= item.kind %></td>
                        <td><%= item.level %></td>
                        <td><%= item.volume %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- ページネーション -->
      
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>